.explore-btn {
  color: black;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid black;
}
.explore-btn:hover {
  color: white;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
}
.hero h1 {
  font-size: 50px;
}
.hero p {
  margin-bottom: 50px;
}
.hero {
  width: 50%;
}
.hero img {
  margin-top: 60px;
  width: 100%;
}

.hero {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.col {
  width: 50%;
  float: left;
}
.col img {
  width: 100%;
}
.col h3 {
  font-size: 50px;
}
.col p {
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .col {
    width: 100%;
  }
}
