.not-found {
  text-align: center;
}
.btn {
  color: black;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid black;
  font-weight: 500;
}

.btn:hover {
  color: white;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
}
