* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Ubuntu", sans-serif;
  list-style: none;
  overflow-x: hidden;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.car-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.car-card img {
  width: 100%;
}
.car-details {
  display: flex;
  width: 80%;
  margin: auto;
}
.details {
  width: 50%;
  margin-top: 50px;
}
.car-details img {
  width: 100%;
}
#detaols-area {
  margin-left: 30px;
}
.quantity-input {
  color: black;
  align-items: center;
  border-radius: 7px;
  padding: 10px 20px;
  border: 1px solid black;
  font-weight: 500;
}
.md-w-100 {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .car-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .car-details {
    display: block;
    width: 95%;
    margin: auto;
  }
  .md-w-100 {
    width: 100%;
  }
}
/* .text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

/* ==========================================
    CUSTOM UTILS CLASSES
 
